input[type="userid"]{
    border-bottom-left-radius: 0px;;
    border-bottom-right-radius: 0px;;
}input[type="password"]{
    border-bottom-left-radius: 0px;;
    border-bottom-right-radius: 0px;;
    border-top: 0px;;
}
