{% extends "account/layout/layout.html" %}

{% block title %}
    Login
{% endblock %}

<!-- modifier juste le body pour créer le formuaire-->
{% block body %}
<div class="text-center position-absolute top-50 start-50 translate-middle">
    <h1 class="h3 mb-4 font-weight-normal">Login to your touristy account</h1>
    <form action="{% url 'login' %}" method="post" class="w-75 mx-auto">
        {% csrf_token %}
        <input type="username" name="username" class="form-control mb-3" placeholder="Username" required autofocus> 
        <input type="password" name="password" class="form-control mb-3" placeholder="Password" required autofocus>  
        <button class="btn btn-lg btn-primary btn-block">Sign in</button>
    </form>
    <div class="mt-4">
        <div class="d-flex justify-content-center links">
            Don't have an account?&nbsp;<a href="{% url 'register' %}" class="ml-2">Sign up</a>
        </div>
    </div>
</div>

{% endblock %}