
{% extends 'service/layout/layout.html' %}
{% load static %}
{% block home_style %}style="background-image: url('{% static 'service/img/home-wallpaper.png' %}'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;"{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
  <div class="text-center position-absolute top-50 start-50 translate-middle">
    <h1 class="fw-light">Welcome To Touristy</h1>
    <h4 class="fw-lighter">Tour the world.</h4>
  </div>
{% endblock %}