{% extends "service/layout/layout.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
{% if msg %}
<div class="alert alert-warning" role="alert">
  {{ msg }}
</div>
{% endif %}
  {% if not service %}
      <div class="alert alert-warning" role="alert">
          No such service.
      </div>

  {% else %}
  <div class="mx-5 mt-3 p-3 row">
    <div class="row mb-5">
      <div class="col d-flex align-items-center justify-content-start">
        <div>
          <h1 class="text-light fw-light mb-4" style="font-size: 5rem;">{{ service.title | title }}</h1>
          <div class="hstack gap-4">
            <div class="">
              {% for item in full_stars %}
                <span class="badge rounded-pill text-secondary bg-secondary border border-secondary" style="font-size: 0.4rem;">u</span>
              {% endfor %}
              {% for item in empty_stars %}
                <span class="badge rounded-pill text-dark bg-transparent border border-secondary" style="font-size: 0.4rem;">u</span>
              {% endfor %}
              <div class="me-1"></div>
              <span class="text-light fw-light">{{ reviews_count }} reviews</span>
            </div>
            <div class="vr bg-light"></div>
            <span class="text-light fw-light">{{ service.type | title }}</span>
          </div>
        </div>
      </div>
      {% if request.user.is_authenticated %}
        <div class="col d-flex align-items-end justify-content-end">
          <div>
            {% if favorited %}
            <a href="{% url 'remove_favorite' service.id %}" class="me-2"><button type="button" class="btn btn-danger rounded-pill">Remove from favorites</button></a>
          {% else %}
            <a href="{% url 'add_favourite' service.id %}" class="me-2"><button type="button" class="btn btn-secondary rounded-pill">Add to favorites</button></a>
          {% endif %}
          {% if userOwnsService %}
            <a href="{% url 'modify_service' service.id %}" class="me-2"><button type="button" class="btn btn-secondary rounded-pill">Modify service</button></a>
            <a href="{% url 'delete_service' service.id %}" class=""><button type="button" class="btn btn-danger rounded-pill">Delete service</button></a>
          {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
    <hr class="text-light" style="height: 3px;">
    {% if images %}
    <div class="row">
      <div class="Album my-5 mx-auto w-75 p-1 bg-light rounded">
            <div id="carouselExampleControls" class="carousel slide carousel-dark">
              <div class="carousel-inner rounded">

                {% for image in images %}
                  <div class="carousel-item">
                    <img src="{{ image.url }}" class="d-block w-100">
                  </div>
                {% endfor %}

              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
    </div>
        
      {% else %}
        <div class="alert alert-info">
          No images available
        </div>
      {% endif %}

      <hr class="text-light" style="height: 3px;">

      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <style>
        #map {
            height: 25rem;
        }
    </style>

    <div class="w-75 mx-auto ">
      <div id="map" class="px-4 mb-3 rounded"></div>
      <p class="text-light">View in <a target="_blank" href="https://www.google.com/maps/search/{{ service.latitude }},+{{ service.longitude }}">Google Maps</a></p>
    </div>
    
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>

    <script>

        var map = L.map('map').setView([{{ service.latitude }}, {{ service.longitude }}], 13);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoic29tZW9uZWJyb29oIiwiYSI6ImNsMzMyejdsazFjeDIzY3BzMGs0cmwzeHgifQ.NTCc3npvCl0F-tieh_fraw'
        }).addTo(map);

        var marker = L.marker([{{ service.latitude }}, {{ service.longitude }}]).addTo(map);

    </script>

      <hr class="text-light" style="height: 3px;">

    {% if request.user.is_authenticated %}
      {% if not service_rated %}
        <h1 class="text-light fw-light mt-3 mb-3">Review {{ service.title | title }}</h1>
        <form action="{% url 'add_rating' %}" method="post" class="mb-5">
          {% csrf_token %}
          <span class="text-light fw-light">Your overall rating for {{ service.title | title }}</span>
          <div class="mb-4 d-flex align-items-center mt-2">
            <span class="star badge rounded-pill text-secondary bg-secondary border border-secondary me-1" style="font-size: 0.4rem;" onmouseover="apply_fill(1);" onclick="validate_selection(1);">u</span>
            <span class="star badge rounded-pill text-dark bg-transparent border border-secondary me-1" style="font-size: 0.4rem;" onmouseover="apply_fill(2);" onclick="validate_selection(2);">u</span>
            <span class="star badge rounded-pill text-dark bg-transparent border border-secondary me-1" style="font-size: 0.4rem;" onmouseover="apply_fill(3);" onclick="validate_selection(3);">u</span>
            <span class="star badge rounded-pill text-dark bg-transparent border border-secondary me-1" style="font-size: 0.4rem;" onmouseover="apply_fill(4);" onclick="validate_selection(4);">u</span>
            <span class="star badge rounded-pill text-dark bg-transparent border border-secondary me-1" style="font-size: 0.4rem;" onmouseover="apply_fill(5);" onclick="validate_selection(5);">u</span>
            <span id="stars_selection_text" class="text-light fw-light ms-2"></span>
          </div>
          <input type="hidden" name="service_id" value="{{ service.id }}">
          <input type="hidden" name="stars" id="stars" value="{{ service.id }}">
          <div class="form-floating mb-4">
            <textarea name="comment" class="form-control" id="floatingTextarea2" style="height: 100px" required="true"></textarea>
            <label for="floatingTextarea2">Tell people about your experience in {{ service.title | title }}</label>
          </div>
          <div class="d-grid gap-2 d-md-block">
            <input type="submit" class="btn btn-secondary" value="Post">
          </div>
        </form>
        <hr class="text-light" style="height: 3px;">
      {% endif %}
    {% endif %}


    {% if ratings %}
            <h1 class="text-light fw-light mt-3">Reviews</h1>
            {% for rating in ratings %}
              <div class="mb-2 p-2 px-3 border rounded border-secondary">
                <span class="text-light fw-bold mb-2">{{ rating.user.username }}</span>
                <div class="mb-3 d-flex align-items-center mt-2">
                  {% for item in rating.full_stars %}
                    <span class="badge rounded-pill text-secondary bg-secondary border border-secondary me-1" style="font-size: 0.4rem;">u</span>
                  {% endfor %}
                  {% for item in rating.empty_stars %}
                    <span class="badge rounded-pill text-dark bg-transparent border border-secondary me-1" style="font-size: 0.4rem;">u</span>
                  {% endfor %}
                </div>  
                <p class="text-light">
                  {{ rating.comment_str }}
                </p>
                {% if rating.userRating %}
                  <a href="{% url 'remove_rating' rating.id %}"><button class="btn btn-danger">Delete</button></a>
                {% endif %}
              </div>
            {% endfor %}
          {% else %}
            <h1>This service is not rated yet.</h1>
          {% endif %}
      </div> 
  {% endif %}

  <script>
    window.addEventListener('load', function() { 
      images = document.querySelectorAll(".carousel-item");
      images[0].classList.add("active");
    }, false);

    function hasClass(ele,cls) {
      return !!ele.className.match(new RegExp('(\\s|^)'+cls+'(\\s|$)'));
    }

    function addClass(ele,cls) {
      if (!hasClass(ele,cls)) ele.className += " "+cls;
    }

    function removeClass(ele,cls) {
      if (hasClass(ele,cls)) {
        var reg = new RegExp('(\\s|^)'+cls+'(\\s|$)');
        ele.className=ele.className.replace(reg,' ');
      }
    }

    function apply_fill(stars_count){
      stars = document.querySelectorAll(".star");
      for (let index = 0; index < 5; index++) {
        if(index < stars_count){
          addClass(stars[index], "text-secondary");
          addClass(stars[index], "bg-secondary");
          removeClass(stars[index], "text-dark");
          removeClass(stars[index], "bg-transparent");
        }
        else{
          removeClass(stars[index], "text-secondary");
          removeClass(stars[index], "bg-secondary");
          addClass(stars[index], "text-dark");
          addClass(stars[index], "bg-transparent");
        }
      }
      document.getElementById("stars").value = stars_count;
    }

    function validate_selection(stars_count){
      apply_fill(stars_count);
      document.getElementById("stars_selection_text").innerHTML = "Selected!";
      stars = document.querySelectorAll(".star");
      for (let index = 0; index < 5; index++) {
          stars[index].removeAttribute("onmouseover")
      }
    }
  </script>
{% endblock %}