{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'account/style/bootstrap.min.css' %}">
    <script src="{% static 'account/script/popper.min.js' %}"></script>    
    <script src="{% static 'account/script/bootstrap.min.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="p-4">
    {% block body %}{% endblock %}
</body>
</html>