{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'service/style/bootstrap.min.css' %}">
    <script src="{% static 'service/script/popper.min.js' %}"></script>    
    <script src="{% static 'service/script/bootstrap.min.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!--navbar with: Home, Nearby, Map, About us, DTL block of account that's empty-->
    <script src="{% static 'service/script/jquery.min.js' %}"></script>
    <div>
        {% block body %}{% endblock %}
    </div>
    <footer>
        <!--fill grey and with these info https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fd3h2k7ug3o5pb3.cloudfront.net%2Fimage%2F2020-01-17%2Fc4242720-38d3-11ea-a3fb-cfc55c1973d0.png&f=1&nofb=1-->
    </footer>
</body>
</html>